#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

header {
  display: flex;
  gap: 4px;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
}

.table--colors tr:nth-child(even){
  background: #555;
}

.table--colors tr:nth-child(odd){
  background: #333;
}